.starsEffectContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height:100vh;
     width: 100%;
     overflow: hidden;

    transform: perspective(600px);
    transform-style:preserve-3d;
    visibility:hidden;

    animation: visibility 2s ease 1s forwards;
}

@keyframes visibility{
    0%{
        visibility:visible;
        opacity: 100%;
    }
    80%{
        visibility:visible;
        opacity: 100%;
    }
    100%{
        visibility:hidden;
        opacity: 0;

    }
}

.starsEffectContainer > *{
    scale: 0.5;

    transform-origin: center;
    animation: movement 1.5s ease-in-out forwards;

}

.starsEffectContainer div svg{
    height: 50px;

    animation: rotation 2s ease-in-out 1s forwards,
               starSize 1s ease-out 0.5s forwards;
 
    animation-composition: add;

}

@keyframes rotation{
    0%{       
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes starSize{
    0%{       
        transform:scale(0);
        opacity: 0%;
    }
    100%{
        transform:scale(1);
        opacity: 100%;

    }
}

@keyframes movement{
    0%{     
        transform-origin: 350% 50%;
        transform:rotate(0);
        
    }
    100%{
        transform-origin: 400% 50%;
        transform:rotate(130deg);
    }
}