
.backgound{
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  height:100vh;
  width: 100%;
  padding: 3%;
  overflow: hidden;

  font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;
  color: black;
  
}